@media (max-width: 1440px) {

    .header__container {
        padding-left: 71px;
        
    }

    .header__title-contain {
        padding-top: 27px;
    }

    .header__logo {
        margin-bottom: 59px;
    }

    .header__title-top {
        margin-bottom: 0;
        line-height: 67px;
    }

    .running__container {
        margin-bottom: 76px;
        min-height: 55px;
    }
    
    .h3-title {
        padding-top: 30px;
    }

    .description__top {
        margin-bottom: 3px;
        background-position: top right;
        background-size: 32%;
    }

    .description__column-rigth {
        width: 44%;
    }

    .description__table {
        margin-bottom: 34px;
        max-width: 710px;
        width: 100%;
    }

    .description__center-block {
        padding-top: 30px;
    }

    .description__title-bottom {
        margin-bottom: 50px;
        padding-top: 0;
        max-width: 707px;
    }

    .description__stroke {
        max-width: 710px;
        width: 100%;
    }

    .stages__text {
        bottom: 11px;
        left: 303px;
    }

    .stages__item {
        padding: 16px 21px;
    }

    .stages__number {
        margin-right: 17px;
    }

    .stages__img {
        position: absolute;
        bottom: -6px;
        right: -60px;
    }

    .stages-text {
        max-width: 444px;
    }

    .stages {
        margin-bottom: 206px;
    }

    .participants__container {
        margin-bottom: 139px;
    }

    .participants__titul {
        margin-bottom: 18px;
    }

    .participants__button {
        padding: 7px 11px;
    }

    .swiper__block {
        align-items: center;
        position: absolute;
        right: 1px;
        top: 11px;
    }
    
    .running-bottom {
        margin-bottom: 0;
    }

    .footer__container {
        padding: 43px 59px 80px 72px
    }
}

@media (max-width: 1365px) {
    .container {
        padding: 0 50px;
    }

    .header__container {
        padding-bottom: 108px;
    }

    .description__container {
        margin-bottom: 120px;
    }

    .description__center {
        background-size: 50%;
    }

    .description__center-block {
        justify-content: flex-end;
        padding-top: 30px;
        max-width: 560px;
    }

    .description__lists {
        padding-right: 0;
        max-width: inherit;
    }

    .description__title-bottom {
        max-width: inherit;
    }
    
    .description__stroke {
        max-width: inherit;
        width: 100%;
    }

    .description__column-rigth {
        width: 65%;
    }

    .stages {
        margin-bottom: 150px;
    }

    .stages__number {
        margin-right: 8px;
        padding: 5px 10px;
    }

    .stages__img {
        position: absolute;
        bottom: 40px;
        right: -50px;
    }

    .stages-text {
        max-width: 375px;
    }

    

    .participants__container {
        margin-bottom: 110px;
    }

    .swiper__wrapper {
        gap: 0;
      }

    .footer__container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 1200px) {
    .container {
        padding: 0 40px;
    }

    .h3-title {
        font-size: 28px;
        line-height: 38px;
        max-width: 650px;
    }

    .running__descr {
        padding: 10px 12px 10px 12px;
        font-size: 16px;
    }

    .header__title-contain {
        padding-bottom: 80px;
        padding-top: 18px;
        max-width: 342px;
    }

    .header__logo {
        margin-bottom: 40px;
    }

    .header__title-top {
        font-size: 36px;
        line-height: 40px;
    }

    .header__title-bottom {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 25px;
    }

    .header__descr {
        margin-bottom: 24px;
        font-size: 18px;
        line-height: 20px;
    }

    .header__list {
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
    }

    .running__container {
        margin-bottom: 48px;
        min-height: 38px;
    }

    .description__center-block {
        max-width: 545px;
    }

    .description__center {
        align-items: flex-end;
        background-size: 45%;
    }

    .description__lists {
        padding-right: 0;
    }

    .description__h4 {
        padding: 10px 0 10px 0px;
        max-width: 290px;
    }

    .description__h4:first-child {
        padding: 12px 0 12px 0px;
    }

    .description__descr:nth-child(2n) {
        padding: 12px 0 12px 10px;
    }

    .description__stroke:nth-child(5) {
        margin-bottom: 20px;
    }

    .description__title-bottom {
        margin-bottom: 34px;
        max-width: inherit;
    }
    
    .stages__descr {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 150px;
        font-size: 18px;
        line-height: 21px;
        max-width: 500px;
    }

    .stages__title {
        margin-bottom: 12px;
        font-size: 36px;
        line-height: 40px;
    }

    .stages__text {
        position: inherit;
        text-align: start;
        bottom: 0;
        left: 0;
        max-width: 400px;
    }

    .stages__img {
        top: 100px;
        left: 0;
    }
    
    .stages__swiper {
        overflow: hidden;
    }

    .stages__lists {
        display: grid;
        grid-template-columns: repeat(5, minmax(400px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
        grid-auto-flow: column;
        gap: 0;
        column-gap: 10px;
        justify-content: stretch;
        margin-bottom: 30px;
        transition:  all .5s;
    }

    .stages__item {
        padding: 50px 20px 20px 20px;
        background-image: url(../image/stages-back-list.png);
        min-height: 112px;
        max-width: 400px;
    }
    
    .stages__item:nth-child(1) {
        grid-row: span 1;
        min-height: 112px;
        height: 100%;
    }
    
    .stages__item:nth-child(2) {
        grid-row: span 1;
        padding: 0 20px 20px 20px;
        min-height: 112px;
        height: 100%;
    }
    
    .stages__item:nth-child(3) {
        grid-row: span 2;
        min-height: 244px;
        height: 100%;
    }

    .stages__item:nth-child(4) {
        grid-row: span 1;
        padding: 20px 20px 20px 20px;
        min-height: 112px;
        height: 100%;
    }

    .stages__item:nth-child(5) {
        grid-row: span 1;
        padding: 0 20px 20px 20px;
        min-height: 112px;
        height: 100%;
    }
    
    .stages__item:nth-child(6) {
        grid-row: span 2;
        min-height: 244px;
        height: 100%;
    }
    
    .stages__item:nth-child(7) {
        grid-row: span 2;
        min-height: 244px;
        height: 100%;
    }

    .stages__block {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .stages__dot {
        align-items: center;
        gap: 5px;
    }

    .stages__slider-dot {
        border-radius: 50%;
        background-color: #D9D9D9;
        width: 10px;
        height: 10px;
    }

    .active-dot {
        background-color: #313131;
    }

    .stages-button-prev {
        margin-right: 15px;
    }

    .stages-button-next {
        margin-left: 15px;
    }
    
    .stages__number {
        margin-right: 16px;
        padding: 5px 10px;
    }

    .swiper__wrapper {
        margin-bottom: 40px;
    }

    .swiper__block {
        position: inherit;
        justify-content: center;
    }

    .stages__item {
        padding: 20px;
    }

    .stages__number {
        margin-right: 5px;
        padding: 5px 10px;
    }

    .stages__item-text {
        font-size: 18px;
        line-height: 21px;
    }

    .participiants__title {
        margin-bottom: 40px;
        font-size: 36px;
        line-height: 40px;
    }

    .swiper__btn {
        padding: 11px 15px;
    }

    
    .swiper__btn svg {
        max-width: 13px;
        max-height: 13px;
    }

    .running-bottom {
        margin-bottom: 0;
    }

    .footer__container {
        padding: 30px 59px 50px 72px;
    }
}

@media (max-width: 1045px) {
    .container {
        padding: 0 20px;
    }

    .h3-title {
        margin: 0;
        padding: 0;
        max-width: 650px;
    }

    .header {
        background-color: #E9DED4;
        background-image: url(../image/header-back-desctop.png);
        background-size: auto;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    .header__title-contain {
        max-width: 335px;
    }

    .description__top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-position: center bottom;
        background-position: center;
        background-size: 40%;
    }

    .description__title-top {
        padding-bottom: 250px;
    }
    
    .description__title-deactivate {
        display: none;
    }

    .description__title-top {
        padding-bottom: 200px;
    }

    .description__title-activate {
        display: inline-block;
    }

    .description__center {
        align-items: center;
        background-position: center top;
        background-size: 50%;
    }

    .description__center-block {
        align-items: center;
        margin: auto;
        padding-top: 500px;
        max-width: 845px;
    }

    .description__title-bottom {
        margin-bottom: 20px;
    }

    .stages {
        margin-bottom: 100px;
    }

    .stages__container {
        margin-bottom: 0;
    }

    .stages__descr {
        justify-content: center;
        margin-bottom: 110px;
        font-size: 18px;
        line-height: 21px;
        max-width: 100%;
    }

    .stages__title {
        max-width: 100%;
    }

    .stages__img {
        top: 20px;
        left: auto;
        right: 0;
    }

    .footer__container {
        padding: 30px 59px 50px 72px;
    }
    
}

@media (max-width: 576px) {
    .link-style {
        padding: 12px 33px;
        min-width: 335px;
    }

    .logo {
        max-width: 213px;
    }

    .header__title-bottom {
        line-height: 41px;
        letter-spacing: -1px;
    }

    .header__descr {
        text-align: left;
        margin-bottom: 33px;
        line-height: 22px;
    }

    .header__title-contain {
        padding-bottom: 269px;
    }

    .description__top {
        margin-bottom: 43px;
        background-size: 100%;
    }

    .description__title-top {
        padding-bottom: 260px;
    }

    .description__center {
        background-size: 100%;
    }

    .description__center-block {
        align-items: center;
        margin: auto;
        padding-top: 417px;
    }

    .description__title-bottom {
        margin-bottom: 25px;
    }

    .description__lists {
        flex-direction: column;
    }
    
    .description__stroke {
        flex-direction: column;
        padding-bottom: 12px;
        padding-top: 20px;
    }

    .description__h4:first-child {
        padding: 0;
    }

    .description__stroke:nth-child(4) {
        flex-wrap: nowrap;
        flex-direction: row;
        text-align: center;
    }

    .description__h4 {
        border-right: none;
        max-width: fit-content;
        margin-bottom: 10px;
        padding: 0;
    }

    .description__descr:nth-child(2n) {
        padding: 0;
        max-width: fit-content;
    }

    .description__stroke:nth-child(5) {
        margin-bottom: 17px;
    }

    .description__container {
        margin-bottom: 96px;
    }

    .stages {
        margin-bottom: 120px;
    }

    .stages__descr {
        justify-content: center;
        margin-bottom: 147px;
        font-size: 18px;
        line-height: 21px;
        max-width: 100%;
    }

    .stages__title {
        margin-bottom: 10px;
    }

    .stages__text {
        letter-spacing: -1.2px;
        line-height: 23px;

    }

    .stages__img {
        top: 190px;
        right: -10px;
        left: auto;
        max-width: 332px;
        transform: rotate(-4deg);
    }

    .stages__item {
        padding: 18px 20px;
    }

    .stages__item-text {
        max-width: 244px;
    }

    .stages__number {
        margin-right: 21px;
    }

    .stages__item:nth-child(1) {
        padding-top: 62px;
    }

    .stages__item:nth-child(2) {
        padding: 14px 20px 38px 20px;
    }

    .stages__number {
        margin-right: 17px;
        padding: 6px 13px;
    }

    .stages-button-prev {
        margin-right: 15px;
    }

    .stages__dot {
        gap: 6px;
    }

    .swiper__btn {
        padding: 8px 13px;
    }

    .swiper__wrapper {
        margin-bottom: 27px;
    }

    .participants__container {
        margin-bottom: 96px;
    }

    .participants__img {
        max-width: 244px;
    }

    .participants__img {
        margin-bottom: 29px;
    }

    .participants__slide {
        margin-bottom: 9px;
    }

    .footer__container {
        padding: 42px 20px 44px 19px;
    }
}
