@font-face {
    font-family: 'Muller';
    src: local('Montserrat-ExtraBold'),
        url('../fonts/MullerBold.woff') format('woff'),
        url('../fonts/MullerBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
    font-style: normal;
  }
  
*{
    box-sizing: border-box;
}

body {
    font-family: 'Muller', sans-serif;
    background-color: #E6E8EC;
}

section {
    margin-bottom: 94px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

button {
    cursor: pointer;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}


/* ------------ glob ----------------*/
.container {
    margin: 0 auto;
    max-width: 1100px;
}

.list-reset {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.h2-title {
    font: 48px 'Muller', sans-serif;
    font-weight: 400;
    line-height: 48px;
    color: var(--title-color);
}

.h3-title {
    font: 500 20px / 20px 'Muller, sans-serif';
}

.p-text {
    font: 16px 'Muller', sans-serif;
    font-weight: 400;
    line-height: 12px;
    color: var(--text-color);
}

.btn {
    padding: 25px 54px;
    border: none;
    border-radius: 40px;
    background-color: var(--btn-background);
    font: 20px 'Muller', sans-serif;
    color: var(--text-color-withe);
}

:root {
    --text-color:#121723;
    --title-color:#121723;
    --background-list-podcast: #FFFFFF;
    --background-section: #FFFFFF;
    --btn-background: #6D31EE;
    --text-color-withe: #FFFFFF;
    --list-color-text: #A1A6B4;
    --guest-text-color: #A1A6B4;
    --title-color-withe: #FFFFFF;
    --border-color: #E6E8EC;
    --gap: 58px;
}

/*--------- header -------------------*/
.header {
    background-color:#FFFFFF;
}

.header__container {
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 34px;
}

.header__link {
    font-size: 0;
}

.header__logo-img {
    max-width: 160px;
}

.header__lists {
    justify-content: space-between;
    max-width: 638px;
    gap: var(--gap);
}

.header__item-link {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: var(--text-color);
    transition: color .3s ease-in-out;
}

.header__item-link:hover {
    color: #6D31EE;
    transition: color .3s ease-in-out;
}

.header__item-link:focus {
    background-color: #AA9DFA;
}

.header__item-link:active {
    color: #4F28A5;
    transition: color .3s ease-in-out;
}

.header__item-link:focus-visible {
    outline: none;
}

.header__link-search {
    position: relative;
    stroke: #6D31EE;
}

.header__link-search:hover {
    color: #AA9DFA;
    stroke: #AA9DFA;
}

.header__link-search:focus {
    stroke: #AA9DFA;
}

.header__link-search:active {
    stroke: #4F28A5;
}

.header__link-svg {
    position: absolute;
    top: 0;
    right: 0;
    stroke: none;
    transition: stroke .3s ease-in-out;
}

.header__link-svg:hover {
    color: #AA9DFA;
    stroke: #AA9DFA;
    transition: stroke .3s ease-in-out;
}

/*------------------- radio -----------------*/
.radio {
    background-color: #FFFFFF;
}

.radio__container {
    padding-top: 94px;
    background-image: url(../image/microphone.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.radio__container-contain {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 94px;
    max-width: 633px;
}

.radio__title {
    margin-bottom: 14px;
    font-family: 'Muller', sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    font-style: italic;
    color: var(--title-color);
}

.radio__text-span {
    font-weight: 800;
}

.radio__text {
    margin-bottom: 45px;
    text-align: left;
    font: 16px 'Muller', sans-serif;
    font-weight: 400;
    line-height: 24px;
}

.radio__button {
    outline: none;
    background-color: #6D31EE;
    transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.radio__button:hover {
    background-color: #AA9DFA;
    transition: background-color 0.3s ease-in-out;
}

.radio__button:focus {
    outline: 2px solid #4F28A5;
    background-color: #AA9DFA;
    transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.radio__button:active {
    background-color: #4F28A5;
    transition: background-color 0.3s ease-in-out;
}

/*----------------- podcast -----------------*/
.podcast__container {
    flex-direction: column;
}

.podcast__title {
    margin-bottom: 30px;
}

.podcast__lists {
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 94px;
    width: 100%;
    gap: 30px;
}

.podcast__item {
    position: relative;
    flex-wrap: wrap;
    background-color: var(--background-list-podcast);
    background-image: url(../image/podcast-img-1.png);
    background-repeat: no-repeat;
    background-position: left;
    width: calc((100% - 30px) / 2);
    max-height: 140px;
}

.podcast__item:nth-child(2) {
    background-image: url(../image/podcast-img-2.png);
}

.podcast__item:nth-child(3) {
    background-image: url(../image/podcast-img-3.png);
}

.podcast__item:nth-child(4) {
    background-image: url(../image/podcast-img-4.png);
}

.podcast__item:nth-child(5) {
    background-image: url(../image/podcast-img-5.png);
}

.podcast__item:nth-child(6) {
    background-image: url(../image/podcast-img-6.png);
}

.podcast__item:nth-child(7) {
    background-image: url(../image/podcast-img-7.png);
}

.podcast__item:nth-child(8) {
    background-image: url(../image/podcast-img-8.png);
}

.podcast__item-contain {
    flex-direction: column;
    padding: 40px 140px;
}

.podcast__item-contain:nth-child(2) {
    background-image: url(../image/podcast-img-2.png);
}

.podcast__time {
    margin-bottom: 8px;
}

.podcast__item-title {
    margin-bottom: 4px;
}

.podcast__text-name {
    font: 400 16px 'Muller', sans-serif;
    line-height: 16px;
    color: #A1A6B4;
}

.podcast__item-date {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3px 10px;
    text-align: center;
    font: 400 10px / 10px 'Muller', sans-serif;
    color: var(--text-color);
    background-color:#E6E8EC;
    max-width: 51px;
    max-height: 16px;
}

/*--------------- telecasts ----------------*/
.telecasts {
    background-color: var(--background-section);
    margin-bottom: 0;
}

.telecasts__container {
    padding: 94px 0;
    gap: 30px;
}

.telecast-contain {
    justify-content: end;
    flex-wrap: wrap;
    width: 100%;
}

.telecasts__left {
    flex-wrap: wrap;
    align-items: end;
    max-width: 255px;
    height: 100%;
    gap: 30px;
}

.telecasts__title {
    margin-bottom: 303px;
    text-align: center;
    width: 100%;
}

.telecasts__left-bottom {
    justify-content: flex-end;
    align-items: start;
    padding-top: 100px;
    background-image: url(../image/microphone-transfers.png);
    background-repeat: no-repeat;
    background-position: top left;
    max-height: 210px;
}

.telecasts__button {
    margin-bottom: 12px;
    padding: 12px 56px;
    text-align: center;
    border: none;
    border-radius: 77px;
    outline: 2px solid #121723;
    background-color: #FFFFFF;
    font: 500 16px / 16px 'Muller', sans-serif;
}

.telecasts__left-text {
    font: 400 16px / 24px 'Muller', sans-serif;
    color: var(--list-color-text);
}

.telecasts__left-bottom {
    flex-direction: column;
}

.telecasts__lists {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    max-width: 825px;
    gap: 30px;
}

.telecasts__item {
    background-image: url(../image/telecasts-img-1.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    outline: 1px solid var(--border-color);
    min-width: 255px;
}

.telecasts__item-contain {
    flex-direction: column;
    padding: 168px 70px 20px 16px;
}

.telecasts__item:nth-child(2) {
    background-image: url(../image/telecasts-img-2.png);
}

.telecasts__item:nth-child(3) {
    background-image: url(../image/telecasts-img-3.png);
}

.telecasts__item:nth-child(4) {
    background-image: url(../image/telecasts-img-4.png);
}

.telecasts__item:nth-child(5) {
    background-image: url(../image/telecasts-img-5.png);
}

.telecasts__item:nth-child(6) {
    background-image: url(../image/telecasts-img-6.png);
}

.telecasts__item-title {
    margin-bottom: 4px;
}

.telecasts__item-text {
    margin-bottom: 20px;
    font: 400 12px / 12px 'Muller', sans-serif;
    width: fit-content;
    color:  var(--list-color-text);
}

.telecasts__item-link {
    padding-right: 30px;
    font: 400 italic 16px / 16px 'Muller', sans-serif;
    background-image: url(../image/arroy-broadcast.png);
    background-repeat: no-repeat;
    background-position: center right;
    width: fit-content;
    transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out;
}

.telecasts__item-link:hover {
    color: #6D31EE;
    background-image: url(../image/arroy-hover.png);
    transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out;
}

.telecasts__item-link:focus {
    color: #FFFFFF;
    background-color: #AA9DFA;
    background-image: url(../image/arroy-focus.png);
    transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.telecasts__item-link:active {
    color: #4F28A5;
    background-color: none;
    background-image: url(../image/arroy-active.png);
    transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out;
}

.telecasts__item-link:focus-visible {
    outline: none;
}

/*------------------- guests ---------------------*/
.guests {
    margin-bottom: 0;
    background-color: #121723;
}

.guests__container {
    flex-direction: column;
    padding: 94px 0;
}

.guests__title {
    margin-bottom: 12px;
    color: var(--text-color-withe);
}

.guests__text {
    margin-bottom: 8px;
    font: 700 20px / 30px 'Muller', sans-serif;
    color: var(--guest-text-color);
}

.guests__descr {
    margin-bottom: 50px;
    font: 400 20px / 32px 'Muller', sans-serif;
    color: var(--guest-text-color);
    max-width: 825px;
}

.guests__lists {
    flex-direction: column;
    gap: 50px;
}

.guests__item {
    gap: 30px;
}

.guests__item:first-child .guests__item-text  {
    margin-bottom: 78px;
}

.guests__item-descr {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    height: 100%;
}

.guests__item-img {
    max-width: 432px;
    max-height: 272px;
}

.guests__item-title {
    margin-bottom: 8px;
    color: var(--title-color-withe);
}

.guests__item-text {
    margin-bottom: 49px;
    font: 400 16px / 28.8px 'Muller', sans-serif;
    color: var(--guest-text-color);
    max-width: 458px;
}

.guests__button {
    padding: 17px 43px;
    outline: 2px solid #AA9DFA;
    font: 500 16px / 16px 'Muller', sans-serif;
    background-color: inherit;
    color: var(--guest-text-color);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.guests__button:hover {
    background-color: #AA9DFA;
    color: #FFFFFF;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.guests__button:focus {
    background-color: #6D31EE;
    color: #FFFFFF;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.guests__button:active {
    background-color: #4F28A5;
    color: #FFFFFF;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/*------------------------- playlists ------------------------*/
.playlists {
    margin-bottom: 0;
    background-color: var(--background-section);
}

.playlists__container {
    padding: 94px 0;
    gap: 30px;
}

.playlists__left {
    flex-direction: column;
    align-items: start;
}

.playlists__title {
    margin-bottom: 12px;
}

.playlists__text {
    line-height: 22px;
    color: var(--list-color-text);
    max-width: 350px;
    width: 100%;
}

.playlists__text {
    margin-bottom: 6px;
    font: 300 italic 16px / 22px 'Muller', sans-serif;
}

.playlists-number {
    padding: 7px 4.5px;
    border-radius: 100px;
    outline: 1px solid #A1A6B4;
    font: 400 12px / 16px 'Open Sans', sans-serif;
    max-width: 30px;
    max-height: 30px;
}

.playlists__lists {
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 30px;
}

.playlists__item {
    position: relative;
    outline: 1px solid #A1A6B4;
    min-width: 160px;
}

.playlists__img {
    max-width: 160px;
    width: 100%;
}

.playlists__icon-flag {
    position: absolute;
    top: 4px;
    right: 4px;
    outline: 4px solid #121723;
}

.item-contain {
    padding: 16px 0 16px 16px;
    gap: 10px;
}

.playlists__item-title {
    margin-bottom: 4px;
}

.playlists__item-text  {
    font: 400 12px / 12px 'Muller', sans-serif;
    color: var(--list-color-text);
}

/*----------------------- buy ----------------*/
.buy {
    margin-bottom: 0;
    background-color: #292E39;
}

.buy__container {
    position: relative;
    padding-top: 102px;
    padding-bottom: 140px;
    gap: 30px;
}

.buy__descr {
    flex-direction: column;
    margin-left: auto;
    z-index: 1;
    max-width: 445px;
}

.buy__image {
    display: block;
    max-width: 640px;
    max-height: 562px;
}

.buy__icon-new {
    position: absolute;
    top: 90px;
    left: 0;
}

.buy__title {
    margin-bottom: 20px;
    padding-bottom: 19px;
    background-image: url(../image/line.png);
    background-position: bottom;
    background-repeat: no-repeat;
    color: #F0D288;
}

.buy__text {
    line-height: 28px;
    color: var(--text-color-withe);
}

.buy__text-top {
    margin-bottom: 12px;
}

.buy__text-bottom {
    margin-bottom: 30px;
}

.buy__price {
    margin-bottom: 30px;
    font: 500 30px / 30px 'Muller', sans-serif;
    color: var(--title-color-withe);
}

.buy__btn {
    position: relative;
    padding: 25px 13px 25px 41px;
    text-align: center;
    background-image: url(../image/assecs/yandex-icon.png);
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-color: inherit;
    outline: 2px solid #F0D288;
    font: 500 20px / 20px 'Muller', sans-serif;
    color: #F0D288;
    max-width: 300px;
    max-height: 70px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.buy__btn:hover {
    background-color: #F0D288;
    color: #121723;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.buy__svg {
    position: absolute;
    top: 25px;
    left: 15px;
    fill: #121723;
    transition: fill 0.3s ease-in-out;
}

.path-top {
    fill: #F0D288;
    transition: fill 0.3s ease-in-out;
}

.buy__btn:hover .path-top {
    fill: #121723;
    transition: fill 0.3s ease-in-out;
}

.path-bottom {
    fill: #121723;
    transition: fill 0.3s ease-in-out;
}

.buy__btn:hover .path-bottom {
    fill: #F0D288;
    transition: fill 0.3s ease-in-out;
}

/*----------------- about-us ----------------*/
.about-us {
    margin-bottom: 0;
    background-color: #121723;
}

.about-us__container {
    flex-direction: column;
    padding: 94px 0;
}

.about-us__container-top {
    position: relative;
    margin-bottom: 30px;
    max-width: 634px;
}

.about-us__container-top::before {
    content: "";
    position: absolute;
    top: 0;
    right: -284px;
    width: 100%;
    height: 100%;
    background-image: url(../image/buy-spiral.png);
    background-repeat: no-repeat;
    max-width: 255px;
    max-height: 255px;
}

.about-us__container-top::after {
    content: "";
    position: absolute;
    top: 0;
    right: -470px;
    width: 100%;
    height: 100%;
    background-image: url(../image/buy-dawn.png);
    background-repeat: no-repeat;
    max-width: 255px;
    max-height: 255px;
}

.about-us__title {
    margin-bottom: 12px;
    color: var(--text-color-withe);
}

.about-us__text {
    color: #A1A6B4;
}

.about-us__text-top {
    margin-bottom: 8px;
    font: 700 20px / 30px 'Muller', sans-serif;
}

.about-us__text-center {
    font: 400 20px / 32px 'Muller', sans-serif;
}

.about-us__lists {
    margin-bottom: 30px;
    gap: 30px;
}

.about-us__item {
    flex-direction: column;
}

.about-us__img {
    margin-bottom: 30px;
}

.about-us__descr {
    line-height: 24px;
    color: var(--guest-text-color);
}

.about-us__lists-form {
    flex-wrap: wrap;
    margin-bottom: 30px;
    max-width: 920px;
    gap: 30px;
}

.about-us__item-form {
    width: calc((100% - 30px) / 2);
}

.about-us__item-form:first-child {
    width: 100%;
}

.about-us__textarea {
    padding: 30px 0 90px 32px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    font: 400 20px / 20px 'Muller', sans-serif;
    color: var(--list-color-text);
    background-color: inherit;
    width: 100%;
    max-height: 150px;
    resize: none;
}

.about-us__input {
    padding: 25px 32px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    font: 400 20px / 20px 'Muller', sans-serif;
    color: var(--list-color-text);
    background-color: inherit;
    width: 100%;
}

.about-us__submit {
    flex-direction: column;
    align-items: start;
}

.about-us__button {
    margin-bottom: 30px;
}

.about-us__checkbox-castom {
    user-select: none;
    cursor: pointer;
}

.about-us__custom-input {
    display: none;
    position: absolute;
    appearance: none;
}

.about-us__text-agree {
    position: relative;
    padding-left: 22px;
    font: 500 12px / 12px 'Muller', sans-serif;
    color: var(--title-color-withe);
}

.about-us__text-agree::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #FFFFFF;
    transform: translateY(-50%);
}

.about-us__text-agree::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    background-image: url(../image/assecs/check.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.about-us__custom-input:checked + .about-us__text-agree::after {
    opacity: 1;
}

.about-us__custom-input:focus + .about-us__text-agree {
    outline: 1px solid #FFFFFF;
    outline-offset: 3px;
}

/*------------------------- footer --------------------*/
.footer {
    background-color: #292E39;
}

.footer__container {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 94px 0;
}

.footer__rigth-lists {
    flex-direction: column;
}

.footer__social {
    gap: 30px;
}

.footer__container-left {
    flex-direction: column;
}

.footer__logo {
    margin-bottom: 20px;
    font-size: 0;
}

.footer__social-link {
    font-size: 0;
}

.footer__container-rigth {
    gap: 109px;
}

.footer__rigth-lists {
    gap: 20px;
}

.footer__rigth-link {
    color: var(--text-color-withe);
}

.footer__bottom {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer__bottom {
    padding: 20px 0;
    background-image: url(../image/footer-line.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--list-color-text);
}

.footer__reg {
    text-align: center;
    width: 15px;
    height: 15px;
    bottom: 0;
}


